/* Main page */

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #efefef
}


.container-fluid {
    float: none !important;
    text-align: center;
}

h2 {
    color: #3E3F3A;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    padding-right: 5px;
}



/* Header */

.header-image {
    display: block;
    margin: 30px auto 30px auto;
    width: 100%;
}


/* Chart containers */

.chart {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}



/* region-selector */

#region-selector {
    float: none !important;
}

button,
select {
    width: 300px;
    background-color: white;
}

/* Top row charts */

/* Fire, grass and water Pokemon rows */

.fa {
    font-size: 30px;
}



/* Egg distance */

#shiny-non-shiny,
.shiny-words {
    margin-bottom: 0;
    padding: 0;
}

#egg-distance,
.egg-distance-words {
    margin-top: 30px;
    padding: 0;
}

/*Footer*/

footer {
    background-color: #3E3F3A;
    color: white;
}

footer p {
    text-align: right;
}


/* Media queries */

@media (min-width: 1281px) {
    #shiny-non-shiny,
    .shiny-words {
        border-bottom: 1px solid black;
        margin-bottom: 0;
    }

.grass {
    position: absolute;
    left: 50px;
    top: 150px;
    z-index: 100;
}

.water {
    position: absolute;
    right: 50px;
    top: 150px;
    z-index: 100;
}

}


@media (min-width: 768px) and (max-width: 1024px) {
    .grass {
        position: relative;
    }}